.banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/fotos/groepsfoto.png");
	height: 35em;
}

.header {
	position: relative;
	padding-top: 1em;
}

.banner-info {
	text-align: center;
	margin-top: 5em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 3em;
}

.banner-info p {
	font-size: 1.2em;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif !important;
	letter-spacing: 3px;
	font-weight: 600;
}

.banner-info label {
	width: 78px;
	height: 2px;
	background-color: white;
	margin: 1em 0 1.5em;
}

.banner-info h2 {
	color: #ffffff;
	font-size: 3em;
	border: 2px solid white;
	padding: 0.5em;
	width: 50%;
	margin: 0 auto;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 6px;
}