.footer {
	padding: 2em 0;
	background: var(--footer-color);
}

.agileinfo-social-grids {
	text-align: center;
}

.agileinfo-social-grids ul {
	padding: 0;
	margin: 0;
}

.agileinfo-social-grids li {
	display: inline-block;
}

.agileinfo-social-grids a {
	color: #333;
	text-align: center;
}

.agileinfo-social-grids i {
	height: 40px;
	width: 40px;
	line-height: 40px;
	color: #FFF;
	transition: 0.2s all;
}

.agileinfo-social-grids i:hover {
	transform: scale(1.5);
}

.agileinfo-social-grids .fa-facebook-square:hover {
	color: #3b5998;
}

.agileinfo-social-grids .fa-instagram:hover {
	color: #dd2a7b;
}

.agileinfo-social-grids .fa-snapchat-ghost:hover {
	color: yellow;
}

.agileinfo-social-grids .fa-envelope:hover {
	color: var(--primary-color);
}

.agileinfo-social-grids li:nth-child(2) {
	margin: 0.5em 0;
}

.agileinfo-social-grids li:nth-child(3) {
	margin: 0 0 0.5em 0;
}

.copyright {
  text-align: center;
}

.copyright p {
	color: #FFFFFF;
	font-size: 0.9em;
	margin: 0;
}

.copyright p a {
	text-decoration: none;
}

.copyright p a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
