html,
body {
    width: 100%;
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
    color: #2B4078;
    font-family: liberation-sans, sans-serif;
}

header {
    background: #FFAB3A;
    padding: 7px;
}

p {
    padding: 0 10px;
    box-sizing: border-box;
}

a {
    color: #FFAB3A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
}

.training {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

.training th,
.training td {
    border: 1px solid black;
    height: 30px;
    vertical-align: bottom;
    padding: 15px;
}

.training tr:nth-child(even),
.training th {
    background-color: #f2f2f2;
}

footer {
    color: #FFFFFF;
    background: #315265;
    padding: 7px;
    height: 50px;
}
